<!--nav bar-->

<div class="nav-bar">
      <div class="row">
          <div class="large-6 columns">
          <div class="small_logo"><%= image_tag "navicon.png" %></div>
          </div>
          <div class="large-6 columns">
            <nav class="nav-buttons">
              <a href="#" class="tiny button" id="nav-button1"> Sign Up </a>
              <a href="#" class="tiny button" id="nav-button2"> Log In </a>
            </nav>
        </div>
      </div>
  </div>

<!--hero image-->

<div class="hero">

  <div class="large-12 columns">

    <center>
      <%= image_tag "bookworm_logo3.png", :class => "main_logo"%>
      <h3 class="hero-title">Join BookWorm to find (and save!) all the books you want to read</h3><br>

      <div class="large-6 large-centered columns">
        <a href="/books" class="button radius" id="browsebutton">Browse Categories</a>
        <a href="#learn" class="button radius" id="learnmorebutton">How It Works</a>
      </div>
    </center>

  </div>
</div>



<!--category section-->


<!--learn more steps section-->

<div class="step-one-section">
  <a id="learn"></a>
  
  <p class="learn-title"><em>BookWorm Brings The Bookstore To You</em> </p>
  
  <div class="row">
    <div class="large-6 columns">
      <%= image_tag "macbook.png", :class => "macbook" %>
  </div>
  <div class="large-6 columns">
    <p class="step-one-title"><%=image_tag "bookicon.png", :class => "bookicon" %> VISUAL DISPLAY </p>
    <p class="step-one-text"> Love picking books by the book cover? We got you covered.</p>
  </div> 
</div>

</div>

<!-- second learn more section -->

<div class="step-two-section">
  <div class="row">

    <div class="large-6 columns" id ="numberonesection">
     <p class="step-two-title"><%=image_tag "numberone.png", :class => "numberone" %> BROWSE </p>
     <p class="step-two-text"> With so many categories to choose from BookWorm has you covered. Browse popular categories or view popular lists, such as the New York Times Bestsellers list. </p>
   </div>
    <div class="large-6 columns" id ="numbertwosection">
     <p class="step-two-title"><%=image_tag "numbertwo.png", :class => "numbertwo" %> SAVE </p>
     <p class="step-two-text"> Save books you want to read easily by using BookWorm. Once you find a book you want to read, click the add button to add to your bookshelf for later. </p>
  </div>

 </div>
    <div class="browse-button">
      <a href="/books" class="button large radius" id="browse-books"> Browse Books </a>
    </div>
</div>

<!--phone section-->

<div class="phone-section">

 <div class="row">
  <div class="large-1 columns"></div>
  <div class="large-3 columns">
   <p class="phone-title"> Browse Books On The Go </p>
   <p class="phone-text"> Now Available In The App Store <p>
    <%= image_tag "appicon.png" %>
  </div>

  <div class="large-8 columns">
    <%= image_tag "appsection.png" %>
  </div>

</div>
</div>

<!--footer section-->
<div class="footer-section">

  <div class="row">
    <div class="large-12 columns">
      <center>
        <p class="footer-title"> ⓒ BookWorm | <a href="https://www.github.com/jessicameyer/booker"> GitHub </p></a>
      </center>
    </div>
  </div>
</div>

       


